@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4c545d;
  line-height: 34px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.subtext {
  width: 61.40351%;
  color: #9fabb2;
  padding: 20px 0 30px 0;
  line-height: 25px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.pop {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  pointer-events: initial !important;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.preloader img {
  width: 100px;
  height: 100px;
  -webkit-animation: preloader 2s ease-in-out infinite alternate;
          animation: preloader 2s ease-in-out infinite alternate;
}

@-webkit-keyframes preloader {
  0%, 100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes preloader {
  0%, 100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

#download__btn {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
  width: 100%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#download__btn a {
  padding: 14px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 10rem;
  background-color: #26BBA5;
  border-bottom: 3px solid #188975;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.12) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.12) 0px 5px 10px;
}

#download__btn a:hover {
  opacity: 0.8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 10px, rgba(0, 0, 0, 0.12) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 10px, rgba(0, 0, 0, 0.12) 0px 5px 5px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#download__btn .download__btn-mac {
  background-color: #6174FF;
  border-bottom: 3px solid #4653BC;
}

.download__btn-bottom {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.header {
  background: center top/cover url(img/bg-header-desktop.png) no-repeat;
}

.header .header__wrapper {
  padding: 100px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__wrapper .logo {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.header .header__wrapper h1 {
  font-size: 2rem;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.header .header__wrapper p {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
  width: 52.63158%;
}

.main .snippets {
  margin: 70px 0;
}

.main .snippets .snippets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .snippets .snippets__wrapper .snippets__main {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .snippets .snippets__wrapper .snippets__main img {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  width: 55%;
  position: relative;
  left: -120px;
}

.main .snippets .snippets__wrapper .snippets__main .snippets__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item h3, .main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item p {
  opacity: 1;
}

.main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item h3 {
  font-size: 1.3rem;
}

.main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item:last-child {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

.main .access .access__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .access .access__wrapper h2 {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.main .access .access__wrapper .sub {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main .access .access__wrapper img {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  padding: 30px 0 50px;
  width: 60%;
}

.main .workflow .workflow__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .workflow .workflow__wrapper h3 {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.main .workflow .workflow__wrapper .sub {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main .workflow .workflow__wrapper .workflow__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item {
  width: 33%;
  padding: 10px;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item:last-child {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item h3, .main .workflow .workflow__wrapper .workflow__main .workflow__main-item p {
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1 !important;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item .workflow-img {
  height: 50px;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item .title {
  margin: 10px 0 0 0;
  font-size: 1.2rem;
}

.main .workflow .workflow__wrapper .workflow__main .workflow__main-item .subtext {
  width: 100%;
  line-height: 26px;
  padding: 10px 0 10px;
}

.main .partners .partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .partners .partners__wrapper .partners__item {
  padding: 30px;
  width: 155px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .partners .partners__wrapper .partners__item img {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.main .partners .partners__wrapper .partners__item img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main .download .download__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 120px;
}

.main .download .download__wrapper h2, .main .download .download__wrapper p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background-color: #F5F6F8;
}

.footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.footer .footer__wrapper .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__wrapper .footer__logo img {
  width: 50px;
  height: 50px;
}

.footer .footer__wrapper .footer__links {
  width: 540px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 0 30px;
  margin-right: 120px;
}

.footer .footer__wrapper .footer__links a {
  padding: 10px 0;
  width: 180px;
  display: inline-block;
  text-decoration: none;
  color: #4c545d;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .footer__wrapper .footer__links a:hover {
  color: #26BBA5;
}

.footer .footer__wrapper .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__wrapper .footer__social a {
  text-decoration: none;
  margin: 15px;
}

.footer .footer__wrapper .footer__social a svg > path {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .footer__wrapper .footer__social a:hover svg path {
  fill: #26BBA5;
}

@media (max-width: 768px) {
  .img-mobile {
    width: 90% !important;
  }
  .main .snippets .snippets__wrapper .snippets__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .snippets .snippets__wrapper .snippets__main img {
    position: static;
  }
  .main .snippets .snippets__wrapper .snippets__main .snippets__list {
    padding: 50px 0 20px;
    text-align: center;
    width: 90%;
  }
  .main .snippets .snippets__wrapper .snippets__main .snippets__list .snippets__list-item {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .workflow .workflow__wrapper .workflow__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .workflow .workflow__wrapper .workflow__main .workflow__main-item {
    width: 80%;
  }
  .footer .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__wrapper .footer__links {
    padding: 30px 0;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
  .footer .footer__wrapper .footer__links a {
    padding: 15px 0;
  }
}

@media (max-width: 568px) {
  .subtext {
    width: 85% !important;
  }
  #download__btn .download__btn-mac {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */